<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CocosSharp" version="1.7.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Location" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Visibility" version="4.1.4" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.StarterPack" version="4.1.4" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="Xciles.Uncommon" version="1.4.0" targetFramework="xamarinios10" />
</packages>